<!DOCTYPE html>
{% load staticfiles%}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- style>
    .img_div {
        width:40%;
        border:1px solid;
        margin-right:10px;
        float:left;
    }

    .image {
        width: 100%
    }
    </style -->
    <link rel="stylesheet" type="text/css" href="../static/css/main_style.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="../static/js/main.js" ></script>
    <script type="text/javascript">
      var restTime = 0;
      var intervalId;
      $(document).on('ready', function() {
        restTime = 5;//=======время сюда
        intervalId = setInterval(function () {
          --restTime;
          $('#rest_time').text('Оставшееся время: '+restTime);
          if (restTime <= 0)
          {
            clearInterval(intervalId);
            $.ajax({//========здесь аякс по окончании времени
                     url : '',
                     type : '',
                     data : '',
                     error : function () {alert('ajax failed');}
                    }
            );
          }
        }, 1000);
      });
    </script>
</head>
<body>
    <div id="header"></div>
    <div id="main_area" class="images" >
        <div id="progress">
            Пройдено
            <div id="progress_line">
                <div id="progress_passed"></div>
            </div>
        </div>
      <div id="timer">
        Оставшееся время: <div id="rest_time"></div>
      </div>
      <div id="loader"></div>
      <div id="main_form">
        <div class="img_choice_area">
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->
{% if text != None %}
{{ text }}
{% endif %}

<div class='img_div'>
    <img class="image" src="{{left}}" />
    {% if is_training == False %}
    <form action="/pairs/" method="GET">
    {% else %}
        {% if next_training_image_pair != None %}
        <form action="/training/{{next_training_image_pair}}" method="GET">
        {% else %}
        <form action="/question/{{ question_id }}/" method="GET">
        {% endif %}
    {% endif %}
    {% if is_training == False or next_training_image_pair != None %}
        <input type="submit" value="Выбрать" id="next" ><br>
    {% else %}
        <input type="submit" value="Выбрать и перейти к вопросам" id="next"><br>
    {% endif %}
    </form>
</div>

<div class='img_div'>
    <img class="image" src="{{right}}" />
    {% if is_training == False %}
    <form action="/pairs/" method="GET">
    {% else %}
        {% if next_training_image_pair != None %}
        <form action="/training/{{next_training_image_pair}}" method="GET">
        {% else %}
        <form action="/question/{{ question_id }}/" method="GET">
        {% endif %}
    {% endif %}
    {% if is_training == False or next_training_image_pair != None %}
        <input type="submit" value="Выбрать" id="next"><br>
    {% else %}
        <input type="submit" value="Выбрать и перейти к вопросам" id="next"><br>
    {% endif %}
    </form>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->
        </div>
      </div>
    </div>
</body>
</html>
