<!DOCTYPE html>
{% load staticfiles%}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
    #img_div {
        width:40%;
        border:1px solid;
        margin-right:10px;
        float:left;
    }
    </style>
</head>
<body>

<div id='img_div'>
    <img src="{{left}}" />
    <form action="/pairs/" method="GET">
        <input type="submit" value="Выбрать"><br>
    </form>
</div>

<div id='img_div'>
    <img src="{{right}}" />
    <form action="/pairs/" method="GET">
        <input type="submit" value="Выбрать"><br>
    </form>
</div>


</body>
</html>