<!DOCTYPE html>
{% load staticfiles%}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    {% if is_training == False %}
      <link rel="stylesheet" type="text/css" href="../static/css/main_style.css">
      <script src="../static/js/images.js" ></script>
      <script src="../static/js/main.js" ></script>
    {% else %}
      <link rel="stylesheet" type="text/css" href="../../static/css/main_style.css">
      <script src="../../static/js/images.js" ></script>
      <script src="../../static/js/main.js" ></script>
    {% endif %}
    <style>
      #main_form div {opacity: 0.0;}
    </style>
    <script type="text/javascript">
      var restTime = 0;
      var intervalId;
      $(document).on('ready', function() {
        restTime = 5;//=======время сюда
        $('#rest_time').text(restTime);
        intervalId = setInterval(function () {
          --restTime;
          $('#rest_time').text(restTime);
          if (restTime <= 0)
          {
            clearInterval(intervalId);
            $('.img_div img').css({'display' : 'none'});
            $('.img_button').css({'display' : 'block'});
          }
        }, 1000);
      });
    </script>
</head>
<body>
    <div id="header"></div>
    <div id="main_area" class="images" >
      <div id="timer">
        Оставшееся время: <div id="rest_time"></div>
      </div>
      <div id="loader"></div>
      <div id="main_form">
        {% if text != None %}
        <div class="img_test">{{ text }}</div>
        {% endif %}
        <div class="img_choice_area">
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->

<div class='img_div'>
    <img class="image" src="{{left}}"></img>
    {% if is_training == False %}
        {% if next_training_image_pair != None %}
        <form action="/pairs/" method="GET">
        {% else %}
        <form action="/question/{{ question_id }}/" method="GET">
        {% endif %}
    {% else %}
        {% if next_training_image_pair != None %}
        <form action="/training/{{next_training_image_pair}}" method="GET">
        {% else %}
        <form action="/after_training/" method="GET">
        {% endif %}
    {% endif %}
        <input type="submit" value="Выбрать" class="img_button" id="left">
    </form>
</div>

<div class='img_div'>
    <img class="image" src="{{right}}"></img>
    {% if is_training == False %}
        {% if next_training_image_pair != None %}
        <form action="/pairs/" method="GET">
        {% else %}
        <form action="/question/{{ question_id }}/" method="GET">
        {% endif %}
    {% else %}
        {% if next_training_image_pair != None %}
        <form action="/training/{{next_training_image_pair}}" method="GET">
        {% else %}
        <form action="/after_training/" method="GET">
        {% endif %}
    {% endif %}
        <input type="submit" value="Выбрать" class="img_button" id="right">
    </form>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->
        </div>
      </div>
    </div>
    <div id="footer"></div>
</body>
</html>
