<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<link rel="stylesheet" type="text/css" href="../static/css/main_style.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="../static/js/main.js" ></script>
  </head>
  <body>
  	<div id="header"></div>
  	<div id="main_area" class="questions" ><!-- questions - для вопросов, images - для изображений-->
  		<div id="progress">
  			Пройдено
  			<div id="progress_line">
  				<div id="progress_passed"></div>
  			</div>
  		</div>
      <div id="loader"></div>
  		<form id="main_form">
        <!-- тут вопросы или картинки -->
  			<div id="submit_line">
  				<input type="submit" id="prev" name="prev" value="Назад" ></input>
  			  <input type="submit" id="next" name="next" value="Продолжить" ></input>
  		  </div>
  		</form>
  	</div>
  	<div id="footer"></div>
  </body>
</html>