<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<link rel="stylesheet" type="text/css" href="../static/css/main_style.css">
  </head>
  <body>
  	<div id="header">header</div>
  	<div id="main_area" class="questions" >
  		<div id="progress">
  			Пройдено
  			<div id="progress_line">
  				<div id="progress_passed"></div>
  			</div>
  		</div>
  		<form id="main_form">
  			Тут вопросы<br>
  			<div id="submit_line">
  				<input type="submit" id="prev" name="prev" value="Назад" ></input>
  			    <input type="submit" id="next" name="next" value="Продолжить" ></input>
  		    </div>
  		</form>
  	</div>
  	<div id="footer">footer</div>
  </body>
</html>