<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {{ question_title }}

    <ul>
    {% for a in answers %}
        <li>{{ a.statement|default_if_none:"" }}{{ a.image|default_if_none:"" }}</li>
        <br/>
    {% endfor %}
    </ul>

    {% if prev_id != None %}
    <form action="/question/{{ prev_id }}/" method="GET">
        <input type="submit" value="Предыдущий вопрос"><br>
    </form>
    {% endif %}

    {% if next_id != None %}
    <form action="/question/{{ next_id }}/" method="GET">
        <input type="submit" value="Следующий вопрос"><br>
    </form>
    {% endif %}

    {% if go_to_pairs is True %}
    <form action="/go_to_pairs/" method="GET">
        <input type="submit" value="Перейти к выбору"><br>
    </form>
    {% endif %}
</body>
</html>