<!DOCTYPE html>
{% load staticfiles%}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../static/css/main_style.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="../../static/main.js"></script>
</head>
<body>
	<div id="header"></div>
	<div id="main_area" class="questions">
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<div class="title">{{ test_title }}</div>
<!--<form action="/question/{{ question_id }}/" method="GET">-->
<form action="/training/{{ training_image_pair_id }}/" method="GET">
    <input type="submit" value="Перейти к тренингу"><br>
</form>
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->
    </div>
    <div id="footer"></div>
</body>
</html>