body {
	margin : 0;
	padding : 0;
	width : 100%;
}
#header {
	display : block;
	position : relative;
	width : 100%;
	height : 50px;
	background-color : rgb(34, 179, 85);
	z-index : 2;
}
#main_area {
	display : block;
	background-color : #ffffff;
	position : relative;
	left : 50%;
	box-shadow: 0px 0px 50px 50px rgb(232, 235, 241);
	padding : 20px;
	font-size: 14px;
	font-family: arial;
	font-weight: normal;
	z-index: 1;
}
#progress, #main_form, #submit_line {position: relative; display: block; width: 100%;}

#progress {
	color : rgb(54, 141, 218);
}
#progress_line {
	position: relative;
	display : block;
	width : 100%;
	height : 5px;
	background-color : rgb(232, 235, 241);
	margin-top : 5px; margin-bottom: 1.0em;
}
#progress_passed {
	position: absolute;
	display: block;
	left : 0; top : 0; bottom: 0; right : 50%;
	background-color: rgb(54, 141, 218);
}
.questions, .images {
	width : 920px;
	margin-left : -480px;
}
.img_choice_area {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 2em; margin-bottom: 2em;
}
.img_choice_area img {
	display : inline;
	border : 1px rgb(232, 235, 241) solid;
	padding  : 1em;
	margin-left: 1em; margin-right: 1em;
	vertical-align: top;
}
.qtitle {
	margin-top : 1em; margin-bottom: 1em;
}
.separator {
	display: block;
	position: relative;
	height: 1px;
	width: 100%;
	background-color: rgb(232, 235, 241);
	margin-top: 1em;
}
input, select, textarea {
	margin-left: 2em;
}
textarea {
	width : 40em;
	height : 6em;
	border : 1px #000000 solid;
	outline: none;
	resize : none;
	box-shadow : inset 3px 3px 5px 0px rgb(194, 201, 219);
}
input {margin-top : 0.3em; margin-bottom: 0.3em;}
#submit_line {
	margin-top: 1.0em; text-align: center;
}
#prev, #next {
	position: relative;
	display : inline;
	border : none;
	outline: none;
	width : 12.0em;
	padding : 0.5em;
	font-weight: bolder;
	border-radius: 7px;
	color : #ffffff;
	margin-left: 6em; margin-right: 6em; margin-top: 0; margin-bottom: 0;
	cursor: pointer;
	font-family: arial;
}
#prev {background-color: rgb(194, 201, 219);}
#next {background-color: rgb(34, 179, 85);}
#footer {
	display: block;
	position: relative;
	width : 100%;
	z-index : 3;
}


@media all and (min-width: 1300px) {
	.images {
		width : 1160px;
		margin-left: -600px;
	}
}
@media all and (min-width: 1600px) {
	.images {
		width : 1460px;
		margin-left: -700px;
	}
}
@media all and (min-width: 2000px) {
	.images {
		width: 1760px;
		margin-left: -900px;
	}
}